.crud{
    display: flex;
    margin: 0 auto;
    width: 100%;
}

button.btn{
    height: calc(1.5em + .75rem + 2px);
    margin-left: 10px;
}

.form-group{
    margin-left: 15px;
}

#table{
    color: black;
}